.clickable-row {
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .clickable-row:hover {
    background-color: #43aff7;
  }

  .account-pages {
    background-color: #f8f9fa; 
}

.card {
    border-radius: 0.375rem; 
    border: 1px solid #dee2e6; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
}

.bg-primary-subtle {
    background-color: #e9ecef; 
}

.text-primary {
    color: #007bff;
}

.table {
    margin-bottom: 0; 
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; 
}

.thead-dark th {
    background-color: #343a40; 
    color: #fff; 
}

.btn {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 0.375rem; 
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem; 
    cursor: pointer; 
}

.btn:hover {
    background-color: #0056b3; 
}

.alert-info {
    background-color: #d1ecf1; 
    color: #0c5460; 
    border-color: #bee5eb; 
}

.text-center {
    text-align: center; 
}

.mt-5 {
    margin-top: 3rem; 
}

.thead-light-blue th {
    background-color: #ADD8E6; 
    color: #000;
}

.container{
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}

.content {
    margin-left: 250px; 
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); 
    height: 100vh; 
}


.topbar {
    height: 54px; 
    background-color: #333; 
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    left: 250px; 
    width: calc(100% - 250px); 
    z-index: 1000; 
}