<div class="sidenav" [ngClass]="isSidebarMinimized ? 'sidenav-collapse' : ''">
    <div class="logo-container" style="background-color: primary;">
        <button class="logo">ERP</button>
        <div class="logo-text" *ngIf="isSidebarMinimized">Sidebar test</div>
    </div>
    <div class="sidenav-list">
        <div class="sidenav-item" *ngFor="let data of navData">
            <a class="sidenav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                
                <span class="sidenav-link-text" >{{data.label}}</span>
            </a>
        </div>
    </div>
</div>
