.navbar-custom {
    background-color: #0d6efd; 
    height: 50px;
    width: 100%;
}
.navbar-logo a {
    font-size: 1.8em;
    color: white;
    text-decoration: none;
}
.navbar-menu .nav-link {
    color: white;
    font-size: 1.2em; 
}
.navbar-menu .nav-link:hover {
    color: black; 
}
.search-input {
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #0d6efd; 
    outline: none;
    background-color: white;
    color: black;
}
.search-btn {
    background-color: transparent;
    border: none;
    color: white;
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid #0d6efd; 
    width: 1.45cm;
}