.sidenav {
    background: #82c5f1;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    width: 5rem;
    overflow: hidden;
}

.sidenav.sidenav-collapse {
    width: 16.5256rem;
}

.sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: .938rem;
    width: 100%;
    box-sizing: border-box;
}

.sidenav .logo-container .logo {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: .313rem;
    padding: 0.5rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
}

.sidenav .logo-container .logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.sidenav .logo-container .btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.sidenav .logo-container .btn-close .fa-times {
    color: #fff;
    font-size: 24px;
}

.sidenav .sidenav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 2rem);
}

.sidenav .sidenav-item {
    margin: 0;
    margin-bottom: 0.3rem;
}

.sidenav .sidenav-link {
    display: flex;
    align-items: center;
    padding: 0.3rem;
    color: #f3f3f3;
    text-decoration: none;
    transition: color .3s ease;
}

.sidenav .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin-right: 1rem;
    text-align: center;
}

.sidenav .sidenav-link-text {
    font-size: 16px;
}
