<div class="sidenav" [ngClass]="collapse ? 'sidenav-collapse' : '' ">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="collapse">Sidebar test</div>
        <button class="btn-close" *ngIf="collapse" (click)="toggleCollapse()">
           
        </button>
    </div>
    <div class="sidenav-list">
        <div class="sidenav-item" *ngFor="let data of navData">
            <a class="sidenav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapse">{{data.label}}</span>
            </a>
        </div>
    </div>
</div>

