<div class="layout">
  <app-topbar class="topbar"></app-topbar>
  <div class="content">
  <app-sidenav class="sidenav"></app-sidenav>
<div class="container-fluid" >
<div class="main-content" >
  <div class="card overflow-hidden subcontainer">
    <div class="bg-primary-subtle">
      <div class="row"  style="background-color: #007bff;">
        <div class="col-9" >
          <div class="text-primary p-4" >
            <h5 class="text-white" style="font-size: x-large;">Lead Registration</h5>
            <p style="color: white;">Fill out the form to register a new lead.</p>
          </div>
        </div>
        <div class="col-3 align-self-end">
          <img src="" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div>
        <a routerLink="/">
          <div class="avatar-md profile-user-wid mb-4">
            <span class="avatar-title rounded-circle bg-light">
              <img src="" alt="" class="rounded-circle" height="34">
            </span>
          </div>
        </a>
      </div>
      <div class="p-2">
        <form [formGroup]="leadRegisterForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
          
          <div *ngIf="successmsg" class="alert alert-success" role="alert">
            Registration successful.
          </div>
          
          <div *ngIf="error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>

          <div class="mb-3 row">
            <label for="leadName" class="col-md-4 col-form-label">Name</label>
            <div class="col-md-8">
              <input
                type="text"
                id="leadName"
                formControlName="leadName"
                class="form-control"
                [ngClass]="{ 'is-invalid': (leadRegisterForm.get('leadName')?.touched || submitted) && leadRegisterForm.get('leadName')?.invalid }"
                placeholder="Enter name"
              />
              <div *ngIf="((leadRegisterForm.get('leadName')?.touched || submitted) && leadRegisterForm.get('leadName')?.invalid )" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('leadName')?.hasError('required')">
                  Name is required
                </div>
                <div *ngIf="leadRegisterForm.get('leadName')?.hasError('minlength')">
                  Lead name must have at least 5 letters
                </div>
                
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="leadMobileNo" class="col-md-4 col-form-label">Mobile No</label>
            <div class="col-md-8">
              <input
                type="tel"
                id="leadMobileNo"
                formControlName="leadMobileNo"
                class="form-control"
                [ngClass]="{ 'is-invalid': (leadRegisterForm.get('leadMobileNo')?.touched || submitted) && leadRegisterForm.get('leadMobileNo')?.invalid }"
                placeholder="Enter mobile number"
                maxlength="10"
              />
              <div *ngIf="(leadRegisterForm.get('leadMobileNo')?.touched || submitted) && leadRegisterForm.get('leadMobileNo')?.invalid" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('leadMobileNo')?.hasError('required')">
                  Mobile number is required
                </div>
                <div *ngIf="leadRegisterForm.get('leadMobileNo')?.hasError('minlength') || leadRegisterForm.get('leadMobileNo')?.hasError('maxlength')">
                  Mobile number must be exactly 10 digits
                </div>
              </div>
            </div>
          </div>
          

          <div class="mb-3 row">
            <label for="location" class="col-md-4 col-form-label">Location</label>
            <div class="col-md-8">
              <input
                type="text"
                id="location"
                formControlName="location"
                class="form-control"
                [ngClass]="{ 'is-invalid': (leadRegisterForm.get('location')?.touched || submitted) && leadRegisterForm.get('location')?.invalid }"
                placeholder="Enter location"
              />
              <div *ngIf="(leadRegisterForm.get('location')?.touched || submitted) && leadRegisterForm.get('location')?.invalid" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('location')?.hasError('required')">
                  Location is required
                </div>
              </div>
            </div>
          </div>
          

          <div class="mb-3 row">
            <label for="leadAddress" class="col-md-4 col-form-label">Address</label>
            <div class="col-md-8">
              <input
                type="text"
                id="leadAddress"
                formControlName="leadAddress"
                class="form-control"
                placeholder="Enter address"
              />
            </div>
          </div>

          <div class="mb-3 row">
            <label for="leadEmail" class="col-md-4 col-form-label">Email</label>
            <div class="col-md-8">
              <input
                type="email"
                id="leadEmail"
                formControlName="leadEmail"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && leadRegisterForm.get('leadEmail')?.errors }"
                placeholder="Enter email"
              />
              <div *ngIf="submitted && leadRegisterForm.get('leadEmail')?.errors" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('leadEmail')?.hasError('required')">
                  Email is required
                </div>
                <div *ngIf="leadRegisterForm.get('leadEmail')?.hasError('email')">
                  Enter a valid email address
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="highLevelRequirement" class="col-md-4 col-form-label">Requirement</label>
            <div class="col-md-8">
              <textarea
                id="highLevelRequirement"
                formControlName="highLevelRequirement"
                class="form-control"
                [ngClass]="{ 'is-invalid': (leadRegisterForm.get('highLevelRequirement')?.touched || submitted) && leadRegisterForm.get('highLevelRequirement')?.invalid }"
                placeholder="Enter requirement"
              ></textarea>
              <div *ngIf="(leadRegisterForm.get('highLevelRequirement')?.touched || submitted) && leadRegisterForm.get('highLevelRequirement')?.invalid" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('highLevelRequirement')?.hasError('required')">
                  Requirement is required
                </div>
              </div>
            </div>
          </div>
          

          <div class="mb-3 row">
            <label for="leadFeasibility" class="col-md-4 col-form-label">Feasibility</label>
            <div class="col-md-8">
              <select
                id="leadFeasibility"
                formControlName="leadFeasibility"
                class="form-select"
                [ngClass]="{ 'is-invalid': submitted && leadRegisterForm.get('leadFeasibility')?.errors }"
              >
                <option value="NotFeasible">Not Feasible</option>
                <option value="Feasible">Feasible</option>
                <option value="HighFeasible">High Feasible</option>
              </select>
              <div *ngIf="submitted && leadRegisterForm.get('leadFeasibility')?.errors" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('leadFeasibility')?.hasError('required')">
                  Feasibility is required
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 row" >
            <label for="remarks" class="col-md-4 col-form-label">Remarks</label>
            <div class="col-md-8">
              <textarea
                id="remarks"
                formControlName="remarks"
                class="form-control"
                [ngClass]="{ 'is-invalid': (leadRegisterForm.get('remarks')?.touched || submitted) && leadRegisterForm.get('remarks')?.invalid}"
                placeholder="Enter remarks"
              ></textarea>
              <div *ngIf=" (leadRegisterForm.get('remarks')?.touched || submitted) && leadRegisterForm.get('remarks')?.invalid" class="invalid-feedback">
                <div *ngIf="leadRegisterForm.get('remarks')?.hasError('required')">
                  Remarks are required
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 d-grid">
            <button class="btn btn-primary" type="submit" [disabled]="leadRegisterForm.invalid || (leadRegisterForm.get('leadFeasibility')?.value === 'NotFeasible')">
              Proceed For Quote
            </button>

            
          </div>
        </form>

        <div class="mt-4 d-grid">
          <button class="btn btn-primary" (click)="closeLost()" 
                  [disabled]="(leadRegisterForm.get('leadFeasibility')?.value !== 'NotFeasible') || leadRegisterForm.invalid">
            Close Lost
          </button>
        </div>
        
      </div>
    </div>
  </div>
  <!-- end card -->
</div>
</div>
</div>
</div>
