
.layout {
    display: flex;
    height: 100vh;
    
}


.sidenav {
    flex: 0 0 250px;  
    height: 100%;  
    background-color: #f8f9fa;  
    z-index: 1000;  
    position: fixed; 
    top: 0;
    left: 0;
    bottom: 0;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.content {
    margin-left: 250px; 
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); 
    height: 100vh; 
}


.topbar {
    height: 54px; 
    background-color: #333; 
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    left: 250px; 
    width: calc(100% - 250px); 
    z-index: 1000; 
}


.custom-container {
    flex: 1;
    padding: 20px; 
    margin-top: 60px; 
}
